@model CRM2.Models.Employee_data

@{
    ViewBag.Title = "Details";
}

<h2 style="color:black;font-size:30px;font-weight:bold;text-align:center;font-family:Britannic;">Details</h2>
<div class="row">
    <div class="col-lg-6">
        <div style="height:400px;width:100%;border-radius:20px;border:1px solid white;">
            <img src="@Url.Content(Model.Image)" style="height:400px;width:100%;border-radius:20px;border:1px solid white;" />
        </div>
    </div>
    <div class="col-lg-6">
        <br /><br /><br />
        <span>@Html.DisplayNameFor(model => model.Full_Name)</span> | @Html.DisplayFor(model => model.Full_Name)<br />
        <span>@Html.DisplayNameFor(model => model.Address)</span> | @Html.DisplayFor(model => model.Address)<br />
        <span>@Html.DisplayNameFor(model => model.Insurance_number)</span> | @Html.DisplayFor(model => model.Insurance_number)<br />
        <span>@Html.DisplayNameFor(model => model.Gender)</span> | @Html.DisplayFor(model => model.Gender)<br />
        <span>@Html.DisplayNameFor(model => model.Job_Title)</span> | @Html.DisplayFor(model => model.Job_Title)<br />
        <span>@Html.DisplayNameFor(model => model.Social_Security)</span> | @Html.DisplayFor(model => model.Social_Security)<br />
        <span>@Html.DisplayNameFor(model => model.personal_status)</span> | @Html.DisplayFor(model => model.personal_status)<br />
        <span>@Html.DisplayNameFor(model => model.Mobile)</span> | @Html.DisplayFor(model => model.Mobile)<br />
        <span>@Html.DisplayNameFor(model => model.Phone_Mobile)</span> | @Html.DisplayFor(model => model.Phone_Mobile)<br />
        <span>@Html.DisplayNameFor(model => model.Type_of_proof_of_personality)</span> | @Html.DisplayFor(model => model.Type_of_proof_of_personality)<br />
        <span>@Html.DisplayNameFor(model => model.Valid_to_date)</span> | @Html.DisplayFor(model => model.Valid_to_date)<br />
        <span>@Html.DisplayNameFor(model => model.Work_Permit)</span> | @Html.DisplayFor(model => model.Work_Permit)<br />
        <span>@Html.DisplayNameFor(model => model.Bank)</span> | @Html.DisplayFor(model => model.Bank)<br />
        <span>@Html.DisplayNameFor(model => model.Nationality)</span> | @Html.DisplayFor(model => model.Nationality)<br />
        <span>@Html.DisplayNameFor(model => model.Email)</span> | @Html.DisplayFor(model => model.Email)<br />
        <span>@Html.DisplayNameFor(model => model.Post_number)</span> | @Html.DisplayFor(model => model.Post_number)<br />
        <span>@Html.DisplayNameFor(model => model.Country_proof_of_personality)</span> | @Html.DisplayFor(model => model.Country_proof_of_personality)<br />
        <span>@Html.DisplayNameFor(model => model.Landline_Number)</span> | @Html.DisplayFor(model => model.Landline_Number)<br />
        <span>@Html.DisplayNameFor(model => model.Identification_Card)</span> | @Html.DisplayFor(model => model.Identification_Card)<br />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


