@model IEnumerable<CRM2.Models.Employee_data>

@{
    ViewBag.Title = "Index";
}
<h2 style="color:black;font-size:30px;font-weight:bold;text-align:center;font-family:Britannic;">Employee Information</h2>

<p>
    @Html.ActionLink("Create New Employee", "Create")
</p>
@foreach (var item in Model)
{
    <div class="col-lg-3" style="height:250px;width:280px;">
        <img src="@Url.Content(item.Image)" style="height:200px;width:200px;border-radius:10px;" />
        <br />
        <span>Name &nbsp;&nbsp; @Html.DisplayFor(modelItem => item.Full_Name)</span>
        <br />
        <span>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </span>
    </div>


}

